<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Manager</title>

       <!-- CSS Link  -->
       <link href="../../assets/styles/styles.css" rel="stylesheet" />

            <!-- Font Awesome -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        rel="stylesheet"
        />
        <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
        />
        <!-- MDB -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
        rel="stylesheet"
        />

        <!-- Jquery Link -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     
</head>
<body>
        <section class="gradient-form" style="background-color: #F5F5F5; height: 100vh;">
            <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10"> 
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
        
                        <div class="text-center">
                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp"
                            style="width: 185px;" alt="logo"> -->
                        </div>
                      
                        <h4 class="mt-1 mb-5 pb-1">Verification OTP send you to with your email address please verify</h4>
                        <div id="alert-message"></div>
                        <form method="post" action="/user/verification?token=<%= req.query.token %>&userid=<%= req.query.userid %>">
                            <div class="text-center pt-1 mb-5 pb-1">

                                <label  class="form-label">Enter OTP</label>
                                 <input class="form-control border" type="text" name="otp"  required>
                                <br>
                                <button class="submit-btn btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Click on Verify</button>
                            </div>
                        </form>
                    </div>
                    
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>

</body>
</html>